*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
#logo{
    width: 100px;
}

.wrapper {
    width: 100%;
    height:100vh;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(29, 71, 82);
    padding: 20px 5px 0px;
    text-align: center;
   
}
.menu ul{
    margin-top: 22px;
    
    
    
}
.menu ul li{
    border: 1px solid rebeccapurple;
    border-radius: 5px;   
    background-color: rgba(0, 0, 0, 0.616);   
    padding: 10px;
    
}
.menu ul li:hover{
    background-color: rgb(120, 252, 245) 
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
.header {
    /* background-color: rgb(5, 108, 108); */
    min-height: 320px;
    /* border: 3px solid rgb(8, 156, 241); */
}
.content {
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 450px;
    padding: 15px;
    /* border: 1px solid red; */
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 105px;
justify-content: space-around;
    display: flex;
    padding: 15px;
}
.contato{
    height: 50px;
    width: 450px;
}

.social img{
    width: 16px;
    margin-left: 5px;
    left: 25px;
    

}